.main-content {
    width: 100%;
    height: 100vh;
    display: flex;
}

.login_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.login_wrapper h1 {
    color: #FFC107;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
    border-bottom: 1px solid #FFC107;
    font-weight: bold;
    padding: 2px 70px;
    margin-bottom: 6px;
}

.login_wrapper p {
    font-weight: 200;
    text-align: center;
    font-size: 13px;
    color: #fff;
    max-width: 80%;
    margin-bottom: 22px;
}

.login_wrapper input[type="email"], 
.login_wrapper input[type="password"] {
    display: block;
    background-color: #856400;
    border: none;
    text-indent: 15px;
    box-shadow: 5px 5px 5px #00000041;
    height: 48px;
    width: 396px;
    margin-bottom: 23px;
    border-radius: 5px;
}

.login_wrapper input[type="email"]::placeholder,
.login_wrapper input[type="password"]::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.login_wrapper input[type="submit"] {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    width: 116px;
    height: 39px;
    border-radius: 20px;
    border: none;
    background-color: #FFC107;
    box-shadow: 5px 5px 5px #00000041;
    display: block;
    margin: 0 auto;
    transition: .3s;
    border: 1px solid #FFC107;
    margin-bottom: 50px;
}

.login_wrapper input[type="submit"]:hover{
    background-color: #292929;
    color: #FFC107;
}

.login_wrapper .login_ways {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.login_ways p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 13px;
    text-wrap: nowrap;
    font-weight: 200;
    margin-bottom: 1px;
}

.login_ways hr {
    height: 1px;
    width: 150px;
    color: #FFC107;
}

.login_ways_icons {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.login_ways_icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    width: 50px;
    border-radius: 100%;
    transition: 0.5s;
}

.login_ways_icons a:hover {
    background: #ffffff75;
}

.login_ways_icons a:first-child {
    padding-top: 6px;
}

.login_side_background {
    width: 50%;
    background-image: url("../../images/login_background.jpg");
    background-position: top;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    opacity: 25%;
    background-size: cover;
    background-repeat: no-repeat;
}