/* Estilos existentes */
.explore_client {
    display: flex;
}

.explore_left_client {
    width: 250px;
    position: fixed;
}

.explore_right_client {
    margin-left: 250px; 
    padding: 45px 35px 20px 35px;
    width: calc(100% - 335px);
}

.planos {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 68px;
}

/* Consultas de mídia para tablets */
@media (max-width: 768px) {
    .explore_client {
        display: block;
    }

    .explore_left_client {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }

    .explore_right_client {
        display: block;
        margin-left: 0;
        width: calc(100% - 1000px);
        padding: 20px; 
    }

    .planos {
        gap: 20px;
        flex-wrap: none;
    }
}
