.model_message_wrapper {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 22px;
    max-width: 900px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.model_message_wrapper img {
    width: 52px;
    position: relative;
    top: -40px;
    right: 22px;
}

.model_img_wrapper {
    position: relative;
}

.model_img_wrapper svg {
    position: absolute;
    left: 15px;
    color: #00c914;
}

.model_message {
    display: flex;
    flex-direction: column;
    background-color: #FFC107;
    padding: 16px 22px;
    border-radius: 15px;
    margin-right: 60px; /* Ajuste para alinhar com o avatar */
    font-family: 'Open Sans', sans-serif;
}

.model_message span {
    font-size: 12px;
    text-align: left;
    margin-bottom: 6px;
}

.model_message p {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: bold;
}
