.sidebar {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #292929;
    height: 100vh;
    padding: 21px 31px;
}

.logo_wrapper {
    height: 77px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.user_profile {
    border-top: 1px solid #FFC107;
    border-bottom: 1px solid #FFC107;
    padding: 18px 5px 21px 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_profile img:first-child {
    width: 39px;
    height: 37px;
}

.user_profile p {
    color: #fff;
    margin-bottom: 0;
}

.social-media {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.social-media img {
    width: 45px;
}

.social-media a{
    display: flex;
    align-items: center;
    height: 45px;
    transition: 0.5s;
}

.social-media a:hover {
    border-bottom: 1px solid #FFC107;
}