.explore {
    display: flex;
}

.explore_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.explore_header h3 {
    color: #FFC107;
    text-transform: uppercase;
    border-bottom: 1px solid #FFC107;
    padding-bottom: 5px;
}

.explore_nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    list-style: none;
}

.explore_nav a {
    color: #000;
    background-color: #FFC107;
    border: 1px solid #FFC107;
    border-radius: 999px;
    padding: 11px 27px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}

.explore_nav a:hover {
    color: #FFC107;
    background: transparent;
}

.search_btn {
    color: #000;
    background-color: #FFC107;
    border-radius: 999px;
    padding: 11px 27px;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.3;
    transition: 0.5s;
}

.search_btn:hover {
    opacity: 1;
}

.explore_left {
    width: 250px;
}

.explore_right {
    background-color: #1B1B1B;
    width: 84%;
    padding: 45px 35px 20px 35px;
}

.explore_models {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 25px;
    row-gap: 44px;
    column-gap: 70px;
    margin-top: 53px;
}

@media (max-width: 1280px) {

    .explore {
        display: block;
    }

    .explore_left {
        width: 250px;
    }
    
    .explore_right {
        background-color: #1B1B1B;
        width: 100%;
        padding: 45px 35px 20px 35px;
    }

    .explore_nav a {
        font-size: 12px;
    }

    .explore_header a {
        font-size: 12px;
        right: 10%;
        left: 10%;
        padding: 6px 18px;
    }
    .explore_models {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 35px;
        row-gap: 50px;
        column-gap: 70px;
        margin-top: 30px;
    }

    .explore_nav ul {
        display: none;
        justify-content: center;
        align-items: center;
        gap: 35px;
        list-style: none;
    }
    
}