.card {
    width: 230px;
    border-radius: 15px;
    background-color: #292929;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.img_wrapper svg {
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 10px;
    color: #FFC107;
}

.img_wrapper img {
    height: 240px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    width: 230px;
}

.card:hover {
    opacity: 1;
}

.img_wrapper {
    position: relative;
    height: 250px;
}

.description {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description h4 {
    color: #FFC107;
    font-size: 24px;
}

.description p {
    text-align: center;
    font-size: 13px;
    color: #FFC107;
}

@media (max-width: 1280px) {
    .card {
        width: 230px;
        /* 230px * 0.8 */
        border-radius: 10px;
        background-color: #292929;
        cursor: pointer;
        opacity: 0.5;
        transition: 0.5s;
    }

    .img_wrapper svg {
        position: absolute;
        font-size: 16px;
        /* 20px * 0.8 */
        top: 10px;
        right: 10px;
        color: #FFC107;
    }

    .img_wrapper img {
        height: 280px;
        /* 280px * 0.8 */
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        width: 230px;
        /* 230px * 0.8 */
    }

    .card:hover {
        opacity: 1;
    }

    .img_wrapper {
        position: relative;
        height: 280px;
        /* 280px * 0.8 */
    }

}