/* Estilos para dispositivos maiores */
.page-content {
  margin-left: 250px; /* Largura do sidebar */
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .page-content {
      margin-left: 0;
      padding: 20px; /* Ajuste o padding conforme necessário */
  }
}
